---
import Home1 from '../components/Home1.astro';
import '../styles/home1.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>ACASAYC - Inicio</title>
  </head>
  <body>
    <Home1 />
  </body>
</html>
